@charset "UTF-8";

@font-face {
    font-family: 'Noto Sans KR';
	font-weight: 400;
    src: url('../fonts/NotoSans_KR_Regular_Subset.eot');
    src: url('../fonts/NotoSans_KR_Regular_Subset.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans_KR_Regular_Subset.woff2') format('woff2'),
         url('../fonts/NotoSans_KR_Regular_Subset.woff') format('woff'),
         url('../fonts/NotoSans_KR_Regular_Subset.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-weight: 500;
    src: url('../fonts/NotoSans_KR_Medium_Subset.eot');
    src: url('../fonts/NotoSans_KR_Medium_Subset.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans_KR_Medium_Subset.woff2') format('woff2'),
         url('../fonts/NotoSans_KR_Medium_Subset.woff') format('woff'),
         url('../fonts/NotoSans_KR_Medium_Subset.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-weight: 600;
    src: url('../fonts/NotoSans_KR_Bold_Subset.eot');
    src: url('../fonts/NotoSans_KR_Bold_Subset.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NotoSans_KR_Bold_Subset.woff2') format('woff2'),
         url('../fonts/NotoSans_KR_Bold_Subset.woff') format('woff'),
         url('../fonts/NotoSans_KR_Bold_Subset.ttf') format('truetype');
}

* { margin: 0; padding: 0; border: 0; background: none; box-sizing: border-box; }
ol, ul, li { list-style: none; }
a { text-decoration: none; color: inherit; }
img { width: auto; max-width: 100%; height: auto; max-height: 100%; vertical-align: top; }
button { font-size: inherit; font-weight: inherit; line-height: inherit; color: inherit; cursor: pointer; }
table { border-collapse: collapse; border-spacing: 0; }
html { font-size: 14px; }
body { min-width: 360px; background: #fff; font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-size: 1rem; font-weight: 400; letter-spacing: -.25px; line-height: 1; color: #333; }
.clearfix::after { content: ''; display: block; clear: both; }
.blind { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; clip: rect(0,0,0,0); }
.width { max-width: 1200px; margin: 0 auto; padding: 0 20px; }

.skip { position: relative; }
.skip a { position: absolute; top: -100px; left: 0; padding: 10px 15px; background: #000; color: #fff; }
.skip a:focus { top: 0; }

.header { position: fixed; top: 0; left: 0; right: 0; z-index: 1; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.125); }
.header_inner {}
.header .logo { float: left; margin: 24px 0 23px; }

.gnb { float: right; font-size: 16px; font-weight: bold; }
.gnb_sub { display: none; position: absolute; top: 80px; left: 0; z-index: 9998; width: 100%; background: #1f296f; color: #fff; }
.gnb-list {}
.gnb-item { float: left; }
.gnb-item_lang { margin-left: 20px; margin-right: 10px; }
.gnb_sub-list { text-align: center; }
.gnb_sub-link { line-height: 50px; }
.gnb_sub-link+.gnb_sub-link { margin-left: 50px; }
.gnb_sub-link sup { font-size: 0.75rem; line-height: 0; }
.gnb-link { display: block; text-align: center; padding: 0 20px; line-height: 80px; }
.gnb-btn_lang { display: inline-block; margin-top: 34px; vertical-align: -3px; font-size: 14px; }
.gnb-btn_lang_slash { display: inline-block; height: 20px; margin: 0 5px; border-left: 1px solid #aaa; vertical-align: -8px; }
.gnb-item_sitemap { margin: 30px 0 0 25px; }
.gnb-btn { display: block; position: relative; width: 26px; height: 22px; }
.gnb-btn .top,
.gnb-btn .middle,
.gnb-btn .bottom { display: block; position: absolute; width: 26px; height: 3px; background: #333; transition: .3s; }
.gnb-btn .top { top: 0; transform-origin: top left; }
.gnb-btn .middle { top: 9px; }
.gnb-btn .bottom { bottom: 0; transform-origin: bottom left; }
.gnb-btn.actived .top { transform: rotateZ(45deg) translate(4px,-3px); }
.gnb-btn.actived .middle { opacity: 0; }
.gnb-btn.actived .bottom { transform: rotateZ(-45deg) translate(4px,3px); }

@media (max-width: 1100px) {
    .gnb-link { display: none; }
}

.sitemap_util { display: none; margin-bottom: 10px; border-bottom: 1px solid #ddd; text-align: right; }
body.media-1100 .sitemap_util { display: block; padding: 0 20px; }
.sitemap_util-btn_close { display: block; float: right; position: relative; width: 26px; height: 22px; margin: 29px 0; }
.sitemap_util-btn_close .top,
.sitemap_util-btn_close .bottom { display: block; position: absolute; width: 26px; height: 3px; background: #333; }
.sitemap_util-btn_close .top { top: 0; transform-origin: top left; transform: rotateZ(45deg) translate(4px,-3px); }
.sitemap_util-btn_close .bottom { bottom: 0; transform-origin: bottom left; transform: rotateZ(-45deg) translate(4px,3px); }
body:not(.media-1100) .sitemap { display: none; border: 1px solid #ddd; }
.sitemap { position: absolute; top: 80px; left: 0; right: 0; z-index: 9999; padding: 0; border-top: 1px solid #ddd; background: #fff; overflow-x: hidden; overflow-y: auto; }
body.media-1100 .sitemap { position: fixed; top: 0; bottom: 0; left: auto; right: -290px; width: 280px; border: 0; transition: .3s; box-shadow: 0 0 10px rgba(0,0,0,.125); }
body:not(.media-1100) .sitemap.actived { display: block; }
body.media-1100 .sitemap.actived { right: 0; }
.sitemap::-webkit-scrollbar { width: 9px; opacity: 0; }
.sitemap::-webkit-scrollbar-track { background: none; }
.sitemap::-webkit-scrollbar-thumb { background: #bbb; }
body:not(.media-1100) .sitemap_inner { max-height: 50vh; }
body:not(.media-1100) .sitemap_big_box { display: table; }
body:not(.media-1100) .sitemap-box { display: table-cell; border-right: 1px solid #ddd; vertical-align: top; }
body:not(.media-1100) .sitemap-box:last-child { border: 0; }
body:not(.media-1100) .sitemap-box:nth-child(1),
body:not(.media-1100) .sitemap-box:nth-child(2) { width: 240px; }
body:not(.media-1100) .sitemap-box:nth-child(3) { width: 200px; }
body:not(.media-1100) .sitemap-box:nth-child(4) { width: 146px; }
body:not(.media-1100) .sitemap-box:nth-child(5),
body:not(.media-1100) .sitemap-box:nth-child(6),
body:not(.media-1100) .sitemap-box:nth-child(7) { width: 122px; }

.sitemap-list { font-size: 15px; }
body:not(.media-1100) .sitemap-btn_more~.sitemap-list {}
body:not(.media-1100) .sitemap-btn_more.actived~.sitemap-list {}
body.media-1100 .sitemap-btn_more~.sitemap-list { display: none; }
body.media-1100 .sitemap-btn_more.actived~.sitemap-list { display: block; }
.sitemap-btn_more::before { content: '+'; }
.sitemap-btn_more.actived::before { content: '-'; }
body:not(.media-1100) .sitemap-link_main { display: block; border-bottom: 1px solid #ddd; font-size: 16px; font-weight: bold; text-align: center; line-height: 50px; color: #1f296f; }
body.media-1100 .sitemap a { display: block; padding: 0 20px; line-height: 40px; font-size: 16px; }
body.media-1100 .sitemap a:hover { background: #eee; }
body.media-1100 .sitemap-link_main { display: block; font-size: 16px; font-weight: bold; color: #1f296f; }
body:not(.media-1100) .sitemap-list_sub { padding: 20px 0 50px 20px; }
.sitemap-item { position: relative; }
body:not(.media-1100) .sitemap-item+.sitemap-item { margin-top: 15px; }
body:not(.media-1100) .sitemap-link_sub { font-weight: bold; }
body:not(.media-1100) .sitemap-list_sub2 { padding: 15px 0 5px; }
.sitemap-link_sub2 {}
.sitemap-link_sub2::before,
.sitemap-link_sub3::before,
.sitemap-link_sub4::before { content: ''; display: inline-block; width: 2px; height: 2px; vertical-align: 4px; margin-right: 7px; background: #333; }
.sitemap-link_sub3::before,
.sitemap-link_sub4::before { width: 5px; }
body:not(.media-1100) .sitemap-list_sub3,
body:not(.media-1100) .sitemap-list_sub4 { padding: 15px 0 0 20px; }
body.media-1100 .sitemap-list_sub2,
body.media-1100 .sitemap-list_sub3,
body.media-1100 .sitemap-list_sub4 { padding: 0 0 0 10px; }
.sitemap-list_sub3,
.sitemap-list_sub4 { font-size: 13px; }
body:not(.media-1100) .sitemap-list_sub2_pro { font-size: 13px; }
body:not(.media-1100) .sitemap-list_sub2_pro .sitemap-item_sub2 { float: left; width: 45%; margin-top: 0; }
body:not(.media-1100) .sitemap-list_sub2_pro .sitemap-item_sub2:nth-child(n+3) { margin-top: 15px; }
body:not(.media-1100) .sitemap-btn_more { display: none; float: right; }
body.media-1100 .sitemap-btn_more { display: inline-block; position: absolute; top: 0; right: 0; z-index: 1; padding: 0 20px; line-height: 40px; }
body.media-1100 .sitemap-btn_more:hover { background: #eee; }

.container { height: 100%; padding-top: 80px; }

.visual { overflow: hidden; position: relative; width: 100%; height: calc(100vh - 80px); background: url(../images/visual.jpg) center no-repeat; background-size: cover; color: #fff; }
.visual-text { position: absolute; top: 50%; width: 100%; text-align: center; transform: translateY(-50%); }
.visual-line { transform: translateX(50%); opacity: 0; cursor: default; }
.visual-text .top { font-size: 36px; transition: .5s; }
.visual-text .middle { margin-top: -5px; font-size: 96px; font-weight: bold; transition: .75s; }
.visual-text .bottom { margin-top: 10px; font-size: 24px; line-height: 36px; word-break: keep-all; transition: 1s; }

@media (max-width: 1100px) {
    .visual-text .top { font-size: 24px; }
    .visual-text .middle { font-size: 56px; line-height: 72px; }
    .visual-text .bottom { margin-top: 0; font-size: 18px; }
}

.cons { }

.con { }
.con_head { margin: 50px 0 30px; font-size: 28px; font-weight: bold; line-height: 28px; }
.con_head-title { float: left; }
.con_head-more { float: right; font-size: 24px; line-height: 28px; }

.con_intro { position: relative; }
.con_intro-list { display: flex; justify-content: space-between; position: relative; }
.con_intro-item { flex-grow: 1; position: relative; width: 33.3333%; height: 50vh; transition: width .5s; }
.con_intro-link { display: block; height: 100%; overflow: hidden; }
.con_intro-item:nth-child(1) .con_intro-link { background: url(../images/intro01.gif) no-repeat 100% center; background-size: cover; }
.con_intro-item:nth-child(2) .con_intro-link { background: url(../images/intro02.gif) no-repeat 100% center; background-size: cover; }
.con_intro-item:nth-child(3) .con_intro-link { background: url(../images/intro03.gif) no-repeat 100% center; background-size: cover; }
.con_intro-link:active { outline: 2px solid #000; border-radius: 1px; }
.con_intro-cover { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #111; opacity: 0; transition: .5s; }
.con_intro-item.actived .con_intro-cover { opacity: 0.75; }
.con_intro-text { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 40px 30px; }
.con_intro-title { font-size: 24px; font-weight: bold; }
.con_intro-title sup { font-size: 1rem; line-height: 0; }
.con_intro-desc { margin-top: 15px; font-size: 16px; line-height: 1.6; }

@media (max-width: 1100px) {
    .con_intro-list { display: block; }
    .con_intro-item { width: 100%; }
}

.con_pro { position: relative; }
.con_pro-list { display: flex; justify-content: space-between; position: relative; }
.con_pro-item { flex-grow: 1; position: relative; width: 25%; height: 50vh; transition: width .5s; }
.con_pro-link { display: block; height: 100%; overflow: hidden; }
.con_pro-item:nth-child(1) .con_pro-link { background: url(../images/pro01.gif) no-repeat 100% center; background-size: cover; }
.con_pro-item:nth-child(2) .con_pro-link { background: url(../images/pro02.gif) no-repeat 100% center; background-size: cover; }
.con_pro-item:nth-child(3) .con_pro-link { background: url(../images/pro03.gif) no-repeat 100% center; background-size: cover; }
.con_pro-item:nth-child(4) .con_pro-link { background: url(../images/pro04.gif) no-repeat 100% center; background-size: cover; }
.con_pro-link:active { outline: 2px solid #000; border-radius: 1px; }
.con_pro-cover { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #111; opacity: 0; transition: .5s; }
.con_pro-item.actived .con_pro-cover { opacity: 0.75; }
.con_pro-text { display: inline-block; position: absolute; top: 50%; left: 50%; padding: 20px 20px; font-size: 24px; font-weight: bold; white-space: nowrap; color: #fff; transform: translate(-50%,-50%); }
.con_pro-item:nth-child(1) .con_pro-text { background: rgba(62,200,242,.75); }
.con_pro-item:nth-child(2) .con_pro-text { background: rgba(36,231,231,.75); }
.con_pro-item:nth-child(3) .con_pro-text { background: rgba(1,196,244,.75); }
.con_pro-item:nth-child(4) .con_pro-text { background: rgba(58,208,226,.75); }

@media (max-width: 1100px) {
    .con_pro-list { display: block; }
    .con_pro-item { width: 100%; }
}

.con_srv { position: relative; margin-top: 50px; padding: 50px 0; background: #f8f8f8; }
.con_srv-list { position: relative; }
.con_srv-item { float: left; position: relative; width: calc(100% / 2); height: 280px; }
.con_srv-link { display: block; height: 100%; overflow: hidden; }
.con_srv-item:nth-child(2) .con_srv-link { background: url(../images/customer.gif) no-repeat 100% center; background-size: cover; }
.con_srv-thumb { transition: 0.5s; }
.con_srv-link:hover .con_srv-thumb { transform: scale(1.1,1.1); }
.con_srv-link:active { outline: 2px solid #000; border-radius: 1px; }
.con_srv-thumb_cover { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.con_srv-text { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 50px 30px; }
.con_srv-title { font-size: 24px; font-weight: bold; }
.con_srv-title sup { font-size: 1rem; line-height: 0; }
.con_srv-desc { margin-top: 15px; font-size: 16px; line-height: 1.6; }

@media (max-width: 1100px) {
    .con_srv { margin-top: 50px; }
    .con_srv-list { display: block; }
    .con_srv-item { width: 100%; }
    .con_srv-item+.con_srv-item { margin-top: 50px; }
}

.con_srv_not { background: #fff; }
.con_srv_not-title { padding: 21px 30px 22px; border-bottom: 2px solid #ddd; font-size: 24px; font-weight: bold; }
.con_srv_not-more { float: right; }
.con_srv_not-list {}
.con_srv_not-item { position: relative; padding: 0 30px 0 112px; line-height: 42px; }
.con_srv_not-item:nth-child(odd) { background: #eee; }
.con_srv_not-link {}
.con_srv_not-date { position: absolute; top: 0; left: 20px; }

.footer { padding: 70px 0; background: #000; color: #aaa; }
.footer_bottom { margin-top: 30px; }
.company { float: left; font-weight: 500; line-height: 18px; }
.copyright { margin-top: 10px; }
.familysite { float: right; position: relative; width: 150px; padding: 10px 5px; border: 1px solid #aaa; color: #aaa; }
.familysite option { color: #333; }

.sitemap_util-btn_close { display: block; float: right; position: relative; width: 26px; height: 22px; margin: 29px 0; }
.sitemap_util-btn_close .top,
.sitemap_util-btn_close .bottom { display: block; position: absolute; width: 26px; height: 3px; background: #333; }
.sitemap_util-btn_close .top { top: 0; transform-origin: top left; transform: rotateZ(45deg) translate(4px,-3px); }
.sitemap_util-btn_close .bottom { bottom: 0; transform-origin: bottom left; transform: rotateZ(-45deg) translate(4px,3px); }

.gototop { display: inline-block; position: fixed; right: 30px; bottom: 30px; z-index: 9999; width: 36px; height: 36px; padding: 5px; border-radius: 50%; background: #fff url(../images/arrow.png) no-repeat center; background-size: 50%; transition: .3s; opacity: 0; visibility: hidden; }
.gototop.actived { opacity: 1; visibility: visible; }

@media (max-width: 1100px) {
    .familysite { width: 100%; margin-top: 50px; }
    .gototop { right: 20px; bottom: 20px; }
}

/* 미디어쿼리 */
#media-1100 { display: none; overflow: hidden; position: absolute; top: -1px; left: -1px; width: 0; height: 0; }
  
@media all and (max-width: 1100px) {
    #media-1100 { display: block; }
}